@using Microsoft.AspNetCore.Identity
@model Portal.Models.Identific.ChangeRoleViewModel

<h2>Изменение ролей для пользователя @Model.UserTab</h2>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <input type="checkbox" name="roles" value="@role.Name"
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                    }
            </div>
            <button type="submit" class="button_or">Сохранить</button>
        </form>
        </div>
    </div>
